<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>


<p>Dear <%= @email %> </p><br>

<p>Here is your generate api key.</p><br/>

API Key :<%= @token %>

You can access OzzClean using this api key . You can check the documnetation <%= link_to "Here" , "http://203.193.173.124:5000/api_keys" %>   .


</body>

</html>
