<p style="font-size:14px;"><%= @user %> has Logged in.</p> <br/><br/>
<p>The following are the user details </p> <br/>
<p>
 <b>Name :</b> <span><%= @user %></span>
</p> 
 <br/><br/>

<p> Regards, <br/>
   OzzData. </p>
