<p style="font-size:14px;">New User is created by the Administrator of <%= @user.organization.name %>. </p> <br/><br/>

<p>The following are the user details </p> <br/><br/>

<p>
 <b>Name :</b> <span><%= @user.name %></span>
</p> 
<p>
 <b>Email:</b> <span><%= @user.email %></span>
</p>
<p>
 <b>Organization Name :</b> <span><%= @user.organization.name%></span>
</p>
<br/>
<br/>

<p>Regards, <br/>
OzzData. </p>
