<style>
.links
{
	font-size:30px;
	color:black;
}
.title
{
	color:orange;
}
</style>
<h1>OzzProjects</h1>

<ul class="nav nav-pills">
	<li class=""><a href="ozzdata" target = _blank class="links" style="color:;">ozz<strong class="title">data</strong></a></li>
	<li class=""><a href="ozzfun" target = _blank class="links" style="color:;">ozz<strong class="title">fun</strong></a></li>
	<li class=""><a href="ozzkey" target = _blank class="links" style="color:;">ozz<strong class="title">key</strong></a></li>
	<li class=""><a href="ozzkey2" target = _blank class="links" style="color:;">ozz<strong class="title">key2</strong></a></li>
</ul>
<ul class="span12 nav nav-pills" style ="margin-left:200px;">
	<li class=""><a href="ozzcat" target = _blank class="links" style="color:;">ozz<strong class="title">cat</strong></a></li>
	<li class=""><a href="#" target = _blank class="links" style="color:;">ozz<strong class="title">jobs</strong></a></li>
	<li class=""><a href="ozzmoney" target = _blank class="links" style="color:;">ozz<strong class="title">money</strong></a></li>
	<li class=""><a href="ozzmap" target = _blank class="links" style="color:;">ozz<strong class="title">map</strong></a></li>
</ul>
<ul class="offset4 nav nav-pills" style ="margin-left:500px;">
	<li class=""><a href="gitsuite" target = _blank class="links" style="color:;">git<strong class="title">suite</strong></a></li>
	<li class=""><a href="#" target = _blank class="links" style="color:;">ozz<strong class="title">index</strong></a></li>
	<li class=""><a href="#" target = _blank class="links" style="color:;">ozz<strong class="title">folio</strong></a></li>

</ul>
