

<div class="well privact-bg" %>
<h1 class="privacy" style ="color: rgb(0, 106, 139);" > Terms & Conditions </h1>
<h3> Access </h3>

<p>
To and use of this website and services available through this Website are subject to the following terms, conditions and notices. By using the services, you are automatically agreeing to all of the Terms of Service, as may be updated by us periodically. Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. At times, we may restrict access to some parts or all of this Website.

By using the OzzData.com web site , you are agreeing to be bound by the following terms and conditions. OzzData.com reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the service after any such changes shall constitute your consent to such changes. 

Violation of any of the terms below will result in the termination of your Account. While OzzData.com prohibits such conduct and content on the service, you understand and agree that OzzData.com cannot be responsible for the content posted on the service . You agree to use the service at your own risk.
</p>
<br />
<h3> Eligibility </h3>
<p>
You must be 18 years of age or older to use the Site in any manner. By visiting the Site and/or using the services therein, you represent and warrant that you are 18 years of age or older, and that you have the right, authority and capacity to agree to and abide by these terms.
</p>
<br/>
<h3> Misuse </h3>
<p>
You must not misuse this Website. You will not: commit or encourage a criminal offense; transmit or distribute a virus, trojan, worm, logic bomb or post any other material which is malicious or technologically harmful, in breach of confidence or in any way obscene or offensive ; hack into any aspect of the Service; corrupt any data; cause annoyance to other users; infringe upon the rights of any other person proprietary rights; send any unsolicited advertising and promotional material, commonly referred to as spam or attempt to affect the performance or functionality of any computer facilities of or accessed through this Website. Breaching this provision would constitute a criminal offence under the Computer Misuse Act 1990.
We will not be liable for any losses or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer programs or equipment, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it.
</p>
<br />

<h3> Accuracy, Completeness and Timeliness of Information on This Site </h3>
<p>
Company has made and will make commercially reasonable efforts to ensure that the Site and materials therein are complete and accurate. Company is not responsible if information made available on the Site is not accurate, complete or current. Company reserves the right to modify the contents of the Site at any time, but has no obligation to update any information on the Site. It is your responsibility to monitor changes to the Site. Any reliance on material on the Site is at user's own risk.
</p>

<br/>
<h3>Payment</h3>
<p>
If you purchase any services that company offers for a fee, either on a one-time, recurring or subscription basis, the company may store your payment information, including but not limited to credit card information. You agree to pay the applicable fees for the services as they become due plus all related taxes, and to reimburse company for all collection costs and interest for any overdue amounts. All fees and charges are nonrefundable. You acknowledge that such services are subject to the Terms of Use and any additional terms related to the provision of the such services.
</p>
<br />
<h3>Passwords</h3>
<p>
You agree to keep your password secure and confidential and not permit others to use your account. You are responsible for anything that happens through your account, whether or not authorized by You. You agree to immediately notify Company of any unauthorized use of your account. To notify the company of any unauthorized use or to close your account, please contact the company at support@OzzData.com.
</p>
<h3>Trademarks and Copyrights</h3>
<p>
Trademarks, logos and service marks displayed on this site are registered and unregistered marks of company and their content providers or other third parties and are the property of their respective owners. Nothing on this Site shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark, logo or service mark displayed on the Site without the owner's prior written permission.
</p>
<br/>
<h3>Third Party Links</h3>
<p>
The site may contain links to web sites of, and advertisements for, third parties. Company is not responsible or liable for any off-site web pages accessible from or linked to the site or any information contained therein. Links to off-site web pages should not be construed as third party endorsement, sponsorship or affiliation of, with or by Company. Any opinions or recommendations expressed in any third party sites should not be construed as the opinions, recommendations or views of company. You link to any third party site at your own risk.
</p>
<br/>
<h3>Disclaimers</h3>
<p>COMPANY DOES NOT MAKE ANY WARRANTY, REPRESENTATION OR GUARANTY AS TO THE AVAILABILITY, ACCURACY, COMPLETENESS, TIMELINESS, FUNCTIONALITY, RELIABILITY, SEQUENCING OR SPEED OF DELIVERY OF THE SERVICES, MATERIALS, USER CONTENT OR OTHER DATA OR INFORMATION FURNISHED THEREBY OR THEREUNDER. THE WARRANTIES SET FORTH HEREIN ARE IN LIEU OF ANY AND ALL OTHER WARRANTIES, REPRESENTATIONS AND GUARANTIES, EXPRESS OR IMPLIED, AND ALL SUCH OTHER WARRANTIES, REPRESENTATIONS, AND GUARANTIES ARE HEREBY DISCLAIMED WITH RESPECT TO THE SERVICES, MATERIALS AND/OR CLIENT CONTENT. ANY AND ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT ARE HEREBY EXPRESSLY DISCLAIMED.</p>
<p>
IF YOU DOWNLOAD ANY MATERIALS FROM THE SITE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIALS. NO ADVICE OR INFORMATION WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM COMPANY OR THROUGH OR FROM THE SITE SHALL CREATE ANY WARRANTY OF ANY KIND. COMPANY DOES NOT MAKE ANY WARRANTIES OR REPRESENTATIONS REGARDING THE USE OF THE MATERIALS ON THE SITE IN TERMS OF THEIR COMPLETENESS, CORRECTNESS, ACCURACY, ADEQUACY, USEFULNESS, TIMELINESS, RELIABILITY OR OTHERWISE.
In certain jurisdictions, the law may not permit the disclaimer of warranties, so the above disclaimer may not apply to you.
</p>
<br/>
<h3>Limitation of Liability</h3>
<p>
YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR USE OF THE SITE MAY NOT BE SECURE AND MAY BE INTERCEPTED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SITE IS AT YOUR OWN RISK. YOU ACKNOWLEDGE AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER COMPANY NOR ITS AFFILIATES, SUPPLIERS OR THIRD PARTY CONTENT PROVIDERS WILL BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, EXEMPLARY, MULTIPLE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES ARISING OUT OF OR IN ANY WAY RELATED TO THE SITE OR FROM ANY ACTIONS COMPANY TAKES OR FAILS TO TAKE AS A RESULT OF COMMUNICATIONS YOU SEND TO COMPANY OR THE DELAY OR INABILITY TO USE THE SITE OR FOR ANY INFORMATION, PRODUCTS, OR SERVICES ADVERTISED ON OR OBTAINED THROUGH THE SITE, OR COMPANY\u2019S REMOVAL OR DELETION OF ANY MATERIALS SUBMITTED OR POSTED ON ITS SITE OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF COMPANY, ITS AFFILIATES OR ANY OF ITS SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. THIS DISCLAIMER APPLIES, WITHOUT LIMITATION, TO ANY DAMAGES OR INJURY ARISING FROM ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECTS, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUSES, FILE CORRUPTION, COMMUNICATION ON-LINE FAILURE, NETWORK OR SYSTEM OUTAGE, YOUR LOSS OF PROFITS OR THEFT, DESTRUCTION, UNAUTHORIZED ACCESS TO, ALTERATION OF, LOSS OR USE OF ANY RECORD OR DATA, AND ANY OTHER TANGIBLE OR INTANGIBLE LOSS. YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT NEITHER COMPANY NOR ITS SUPPLIERS SHALL BE LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER OF THE SITE. YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY CLAIMS OR DISPUTE WITH COMPANY IS TO DISCONTINUE YOUR USE OF THE SITE. YOU AND COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES OR THE CAUSE OF ACTION IS PERMANENTLY BARRED. BECAUSE SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, ALL OR A PORTION OF THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
</p>

</div>
<style>

.privacy {
/*background: url(assets/about-text.png) no-repeat;*/
height: 52px;
color: white;
font: 700 22px/40px "Trebuchet MS",Arial, Helvetica, sans-serif;

}

.privact-bg p {
text-indent:50px;
}

.privact-bg{

height: auto;
background: url(assets/index.gif) repeat-x;
margin-left: 5px;
padding-top: 25px;
font-size:14px;
text-align:justify;
padding-left:45px;
padding-right:45px;
}
</style>
