<ul class="nav nav-tabs">
  <li class="<%= action_active('index') %>">
    <%= link_to list_cleans_path do %>
        <i class="icon-list-alt"></i>
        Index
    <% end %>
  </li>
  
  <li class="<%= action_active('new') %>">
    <%= link_to new_list_clean_path do %>
      <i class="icon-plus"></i>
      Create New List Clean
    <% end %>
  </li>
</ul>
